name: Run CircleCI artifacts redirector to provide PR link to build outputs
on: [status]

permissions: read-all

jobs:
  circleci_artifacts_redirector_job:
    runs-on: ubuntu-latest
    if: "${{ github.event.context == 'ci/circleci: pr-build-docs' }}"
    permissions:
      statuses: write
    name: Run CircleCI artifacts redirector

    steps:
      - name: Run rendered website redirector
        id: step1
        uses: DavidT3/circleci-artifacts-redirector-action@master
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          api-token: ${{ secrets.HEASARC_TUTORIALS_CIRCLECI_TOKEN }}
          artifact-path: 0/artifacts/html/index.html
          circleci-jobs: pr-build-docs
          job-title: "**Check the rendered docs here!**"
          domain: circle.scientific-python.dev
