name: Redirect executed notebook CircleCI artifacts
on: []

permissions: read-all

jobs:
  circleci_artifacts_redirector_job:
    runs-on: ubuntu-latest
    if: "${{ github.event.context == 'ci/circleci: pr-build-docs' }}"
    permissions:
      statuses: write
    name: Run CircleCI artifacts redirector
    steps:
      - name: GitHub Action step
        id: step1
        uses: scientific-python/circleci-artifacts-redirector-action@v1.3.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          api-token: ${{ secrets.HEASARC_TUTORIALS_CIRCLECI_TOKEN }}
          artifact-path: 0/artifacts/executed_notebooks/
          circleci-jobs: pr-build-docs
          job-title: Find the executed ipynb notebooks here
          domain: circle.scientific-python.dev
      - name: Check the URL
        if: github.event.status != 'pending'
        run: |
          curl --fail ${{ steps.step1.outputs.url }} | grep $GITHUB_SHA
